@import "constants";

body {

  overflow: hidden;


  .content-page { padding: 70px 0 0; }


  #agro-map {

    min-height: calc(100vh - 70px);
    z-index: 1;


    //#map-sidebar {
    //  overflow: initial;
    //  border: none;
    //
    //  .leaflet-sidebar-tabs {
    //    border: 2px solid rgba(0, 0, 0, 0.2);
    //    border-radius: 4px;
    //  }
    //}


    .leaflet-control-layers, .leaflet-control-zoom {
      border: none;
    }


    .map-style-layer-control {
      //display: none;
    }
  }

}

